<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-3">
        <a href="/" class="navbar-brand">
            <img src="https://file.diplomeo-static.com/file/00/00/01/55/15559.svg" width="300" height="50px" alt="iut">
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/views/view1">Template 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/view2">Template 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api-docs">API Docs</a>
                </li>
            </ul>
        </div>
    </nav>
</header>