{{>header}}
<div class="container" id="listeLaureats">
    <h1>Prix Nobels</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prénom</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>