<div class="container">
    <div>
        <div class="col-3">
            {{#if categories}}
                <label for="categories"><em>Catégorie du prix Nobel</em></label>
                <select class="form-select">
                    <optgroup label="Catégories">
                        <option selected disabled style="font-style: italic">Choisir une catégorie</option>
                        {{#each categories}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </optgroup>
                </select>
            {{/if}}
        </div>
        <div class="col-9">

        </div>
    </div>
    <div>
        <table class="table-hover">

        </table>
    </div>

</div>