<div class="container">
        <select class="select">
            <optgroup label="categories">
                <option label="chemistry">Chimie</option>
                <option label="economics"></option>
                <option label="literature">Littérature</option>
                <option label="medicine">Médecine</option>
                <option label="peace">Paix</option>
                <option label="physics">Physique</option>
            </optgroup>
        </select>
</div>