<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a href="/"><img src="https://file.diplomeo-static.com/file/00/00/01/55/15559.svg" width="400px" alt="iut"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">vous etes des animaux, arretez de vous reproduire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/laureates?page=1">Lauréats</a>
                </li>v
            </ul>
        </div>
    </div>
</nav>