<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">vous etes des animaux, arretez de vous reproduire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">About us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>